<meta charset="UTF-8">
<div class="tab-pane" id="panel-724547">
	<div class="tab-content">
		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="alert alert-danger" role="alert" ng-if="pessoaCtrl.abas.documentos.erros.length">
						<span ng-repeat="erro in pessoaCtrl.abas.documentos.erros" class="block">{{erro.mensagem}}</span>
					</div>
					<div class="form">
						<form class="row col-lg-12" ng-if="prestadorServicoCtrl.acao != 'V'">
							<div class="form-group col-lg-2" style="padding-left: 0px">
								<label>Tipo documento*:</label> 
								<select class="form-control" style="width: 100%" ng-disabled="dadosDocumentosCtrl.documento.id.pessoa.id && dadosDocumentosCtrl.documento.id.tipoDocumento.id" 
										ng-options="tipoDocumento as tipoDocumento.descricao for tipoDocumento in dadosDocumentosCtrl.tiposDocumento track by tipoDocumento.id"  
										ng-change="dadosDocumentosCtrl.validarTipoDocumento()" ng-model="dadosDocumentosCtrl.documento.id.tipoDocumento">
									<option value="">Selecione</option>
								</select>
							</div>
							<div class="form-group col-lg-2" ng-if="prestadorServicoCtrl.acao != 'V'">
								<label>Número documento*:</label>
								<div>
									<input uppercased ng-if="dadosDocumentosCtrl.documento.id.tipoDocumento.id != 2" maxlength="20" type="text" class="form-control"
										style="width: 100%; border-radius: 4px" ng-model="dadosDocumentosCtrl.documento.numeroDocumento"/>
									<input uppercased ng-if="dadosDocumentosCtrl.documento.id.tipoDocumento.id == 2" maxlength="19" type="text" class="form-control" mask="AAAAAA.AAAAA.SS.999" masked-model="true"
										style="width: 100%; border-radius: 4px" ng-model="dadosDocumentosCtrl.documento.numeroDocumento" ng-blur="dadosDocumentosCtrl.validarGIIN('fullPath')" ng-change="dadosDocumentosCtrl.validarGIIN('upperCase')"/>
								</div>
							</div>
							<div class="form-group col-lg-2" ng-if="prestadorServicoCtrl.acao != 'V'">
								<label>Data emissão:</label>
								<div class="input-group">
									<input type="text" class="form-control readonly-white" style="width: 100%"
										datepicker-popup="dd/MM/yyyy" show-weeks="'false'" close-text="Fechar" clear-text="Limpar" current-text="Hoje" ng-blur="dadosDocumentosCtrl.validarData()"
										ng-model="dadosDocumentosCtrl.documento.dataEmissao" is-open="dataEmissaoIsOpen" ng-click="dataEmissaoIsOpen = !dataEmissaoIsOpen"/> 
										<span class="input-group-addon" id="basic-addon2">
										<span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
							<div class="form-group col-lg-2" ng-if="prestadorServicoCtrl.acao != 'V'">
								<label>Orgão emissor:</label>
								<div>
									<input uppercased type="text" maxlength="10" class="form-control" style="width: 100%; border-radius: 4px" ng-model="dadosDocumentosCtrl.documento.orgaoEmissor"/>
								</div>
							</div>
							<div class="form-group col-lg-2" ng-if="prestadorServicoCtrl.acao != 'V'">
								<label>UF emissor:</label> 
								<select class="form-control" ng-model="dadosDocumentosCtrl.documento.ufEmissor"
									ng-options="estado.nome as estado.nome for estado in dadosDocumentosCtrl.estados" style="width: 100%">
									<option value="">Selecione</option>
								</select>
							</div>
							<div class="form-group col-lg-2" style="margin-top: 25px" ng-if="prestadorServicoCtrl.acao != 'V'">
								<button type="button"  class="btn btn-primary" ng-click="dadosDocumentosCtrl.incluir()" ng-disabled="!dadosDocumentosCtrl.documento.id.tipoDocumento.id || !dadosDocumentosCtrl.documento.numeroDocumento || dadosDocumentosCtrl.documento.id.tipoDocumento.id == 'new'">{{dadosDocumentosCtrl.documento.id.pessoa.id && dadosDocumentosCtrl.documento.id.tipoDocumento.id ? 'Alterar' : 'Incluir'}}</button>
								<button type="button"  class="btn btn-default" ng-if="dadosDocumentosCtrl.documento.id.pessoa.id && dadosDocumentosCtrl.documento.id.tipoDocumento.id" ng-click="dadosDocumentosCtrl.cancelar()">Cancelar</button>
							</div>
							<div class="form-group col-lg-4">
								<label>Anexo:</label> 
								<input type="file" class="btn btn-default ng-pristine ng-touched" id="inputFile" ng-model="dadosDocumentosCtrl.documento.anexo" check-filesize app-filereader />
							</div>
							<div class="form-group col-lg-4" ng-if="dadosDocumentosCtrl.documento.id.pessoa.id && dadosDocumentosCtrl.documento.id.tipoDocumento.id">
								<label>Arquivo salvo:</label> 
								<input disabled="disabled" uppercased type="text" maxlength="10" class="form-control" style="width: 100%; border-radius: 4px" ng-model="dadosDocumentosCtrl.documento.filenameAnexo"/>
							</div>
						</form>
						
					<div ng-include="'app/views/prestador-servico/modal-tipo-documento.html'"></div>
					
					</div>
					</br>
					<div class="col-lg-12" style="padding-left: 0px">
						<table class="table table-striped" style="margin-top: 15px">
							<thead>
								<tr>
									<th>Tipo documento</th>
									<th>Número documento</th>
									<th>Data emissão</th>
									<th>Orgão emissor</th>
									<th>UF emissor</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="documento in dadosDocumentosCtrl.documentos">
									<td>{{documento.id.tipoDocumento.descricao.toUpperCase()}}</td>
									<td>{{documento.numeroDocumento}}</td>
									<td>{{documento.dataEmissao}}</td>
									<td>{{documento.orgaoEmissor.toUpperCase()}}</td>
									<td>{{documento.ufEmissor.toUpperCase()}}</td>
									<td>
										<button type="button" class="btn btn-default btn-xs" ng-disabled="dadosDocumentosCtrl.habilitarAcao" ng-click="dadosDocumentosCtrl.editar(documento)" ng-if="prestadorServicoCtrl.acao != 'V'">
											<span class="glyphicon glyphicon-pencil"
												aria-hidden="true"></span>
										</button>
										<button type="button" class="btn btn-default btn-xs" ng-disabled="dadosDocumentosCtrl.habilitarAcao" ng-click="dadosDocumentosCtrl.excluir(documento)" ng-if="prestadorServicoCtrl.acao != 'V'">
											<span class="glyphicon glyphicon-trash"
												aria-hidden="true"></span>
										</button>
										<button type="button" class="btn btn-default btn-xs" ng-disabled="dadosDocumentosCtrl.habilitarAcao" ng-click="dadosDocumentosCtrl.baixarDocumento(documento)" ng-if="prestadorServicoCtrl.acao != 'V' && documento.anexo">
											<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
								<tr ng-if="!dadosDocumentosCtrl.documentos.length">
									<td colspan="6">Não há registros encontrados.</td>
								</tr>
							</tbody>
						</table>
					</div>
	
				</div>
			</div>
		</div>
	</div>
</div>