<meta charset="UTF-8">
<div class="tab-pane" id="panel-724560">
	<div class="tab-content">
		<div class="form-group" name="dadosResponsaveisCtrl.responsavelRsForm">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="alert alert-danger" role="alert" ng-if="prestadorServicoCtrl.abas.responsaveis.erros.length">
						<span ng-repeat="erro in prestadorServicoCtrl.abas.responsaveis.erros" class="block">{{erro.mensagem}}</span>
					</div>
					
					<div class="col-lg-12 col-md-12" ">
						<div class="form-group">
							<label>Assinatura para liberar pagamento de cessão:</label> 
							<div class="form-group form-inline">
								<div class="radio" style="margin: 0px">
									<label><input type="radio" name="ativo" value="1" ng-model="dadosResponsaveisCtrl.prestadorServico.inAssLiberarPgto" ng-disabled="prestadorServicoCtrl.acao == 'V'" ng-click="dadosResponsaveisCtrl.salvarPrestadorServico()">Sim</label>
								</div>
								<div class="radio" style="margin: 0px">
									<label><input type="radio" name="ativo" value="0" ng-model="dadosResponsaveisCtrl.prestadorServico.inAssLiberarPgto"  ng-disabled="prestadorServicoCtrl.acao == 'V'" ng-click="dadosResponsaveisCtrl.salvarPrestadorServico()">Não</label>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3" ng-if="prestadorServicoCtrl.acao != 'V'">
						<div class="form-group">
							<label>Nome:</label> 
							<input uppercased type="text" class="form-control" maxlength="150" style="width: 100%" ng-model="dadosResponsaveisCtrl.responsavel.nomeResponsavel" clear-if-not-match="false">
						</div>
					</div>
					<div class="col-lg-3 col-md-3" ng-if="prestadorServicoCtrl.acao != 'V'">

						<label>&nbsp  {{dadosResponsaveisCtrl.responsavel.tipo}}</label> 
						<div class="form-group input-group form-inline">
							<label class="btn btn-default input-group-addon"
								ng-model="dadosResponsaveisCtrl.responsavel.tipoPessoa"
								btn-radio="'J'"
								id="labelCnpj"
								ng-mousedown="dadosResponsaveisCtrl.aoClicarCNPJ();">CNPJ
							</label>
							<label class="btn btn-default input-group-addon"
								ng-model="dadosResponsaveisCtrl.responsavel.tipoPessoa"
								btn-radio="'F'"
								id="labelCpf"
								ng-mousedown="dadosResponsaveisCtrl.aoClicarCPF();">CPF
							</label>
							<input uppercased id="cpf"
								ng-model="dadosResponsaveisCtrl.responsavel.identificadorResponsavel"
								ng-blur="dadosResponsaveisCtrl.validaCpf()"
								ng-if="dadosResponsaveisCtrl.responsavel.tipoPessoa == 'F'"
								ui-mask="999.999.999-99"
								ui-options="{clearOnBlur: false,allowInvalidValue :true}"
								type="text" class="form-control"/>
							<input uppercased id="cnpj"
								ng-model="dadosResponsaveisCtrl.responsavel.identificadorResponsavel"
								ng-blur="dadosResponsaveisCtrl.validaCnpj()"
								ng-if="dadosResponsaveisCtrl.responsavel.tipoPessoa == 'J'"
								ui-mask="99.999.999/9999-99"
								ui-options="{clearOnBlur: false,allowInvalidValue:true}"
								type="text" class="form-control"/> 
						</div>
						
					</div>
					<div class="col-lg-2 col-md-2" ng-if="prestadorServicoCtrl.acao != 'V'">
						<div class="form-group">
							<label>E-mail:</label> 
							<input uppercased type="text" class="form-control" maxlength="150" style="width: 100%" email-input ng-model="dadosResponsaveisCtrl.responsavel.emailResponsavel" clear-if-not-match="false">
						</div>
					</div>
					<div class="col-lg-2 col-md-2" ng-if="prestadorServicoCtrl.acao != 'V'">
						<div class="form-group">
							<label>Assinatura:</label>  
							
							<select class="form-control" ng-change="dadosResponsaveisCtrl.habilitaBtnIncluir()" id="selectAssinatura"
								ng-model="dadosResponsaveisCtrl.responsavel.assinaturaResponsavel" style="width: 100%" 
								ng-options="assinatura.valor as assinatura.descricao for assinatura in dadosResponsaveisCtrl.assinaturas" >
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
					
					<div class="col-lg-2 col-md-2 form-group" style="margin-top: 25px" ng-if="prestadorServicoCtrl.acao != 'V'">
						<button class="btn btn-primary" ng-if="!dadosResponsaveisCtrl.responsavel.id" ng-click="dadosResponsaveisCtrl.incluirResponsavel()" 
						ng-disabled="!dadosResponsaveisCtrl.responsavel.nomeResponsavel.length || !dadosResponsaveisCtrl.responsavel.identificadorResponsavel.length || !dadosResponsaveisCtrl.responsavel.emailResponsavel.length || dadosResponsaveisCtrl.habilitar">Incluir</button>
						<button class="btn btn-primary" ng-if="dadosResponsaveisCtrl.responsavel.id" ng-click="dadosResponsaveisCtrl.updateResponsavel()" 
						ng-disabled="!dadosResponsaveisCtrl.responsavel.nomeResponsavel.length || !dadosResponsaveisCtrl.responsavel.identificadorResponsavel.length || !dadosResponsaveisCtrl.responsavel.emailResponsavel.length || !dadosResponsaveisCtrl.responsavel.assinaturaResponsavel != 0">Alterar </button>
						<button type="button" class="btn btn-default" style="margin-left: 10px" ng-if="dadosResponsaveisCtrl.responsavel.id" ng-click="dadosResponsaveisCtrl.cancel()">Cancelar</button>
					</div>
					
					<div class="col-lg-12 col-md-12" style="padding-left: 0px">
						<table class="table table-striped" style="margin-top: 15px">
							<thead>
								<th>Nome</th>
								<th>CPF/CNPJ</th>
								<th>E-mail</th>
								<th>Assinatura</th>
								<th></th>
							</thead>
							<tbody>
								<tr ng-if="!dadosResponsaveisCtrl.responsaveis.length">
									<td colspan="4">Não há registros encontrados.</td>
								</tr>
								<tr ng-repeat="responsavel in dadosResponsaveisCtrl.responsaveis track by $index">
									<td>{{responsavel.nomeResponsavel}}</td>
									<td>{{responsavel.identificadorResponsavel | cpfcnpj: responsavel.tipoPessoa}}</td>
									<td>{{responsavel.emailResponsavel}}</td>
									<td>{{responsavel.assinaturaResponsavel == 0 ? 'INDIVIDUAL' : responsavel.assinaturaResponsavel == 1 ?'CONJUNTA' : 'SEM PODERES'}}</td>
									<td style="text-align: center">
										<a href=""class="btn btn-default btn-xs" ng-disabled="dadosResponsaveisCtrl.habilitarAcao" ng-click="dadosResponsaveisCtrl.preparaUpdate(responsavel)" ng-if="prestadorServicoCtrl.acao != 'V'">
											<span class="glyphicon glyphicon-pencil"></span>
										</a> 
										<a href="" class="btn btn-default btn-xs"  ng-disabled="dadosResponsaveisCtrl.habilitarAcao" ng-click="dadosResponsaveisCtrl.deleteResponsavel(responsavel)" ng-if="prestadorServicoCtrl.acao != 'V'">
											<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>