**/.metadata/**
**/bin/**
**/tmp/**
**/*.tmp/**
**/*.bak/**
**/*.swp/**
**/*~.nib/**
**/local.properties/**
**/.settings/**
**/.loadpath/**
**/.recommenders/**
**/.classpath/**
**/target/**
**/.externalToolBuilders/**
**/*.launch/**
**/.target/**
**/.tern-project/**
**/.springBeans/**
**/pom.xml.tag/**
**/pom.xml.releaseBackup/**
**/pom.xml.versionsBackup/**
**/pom.xml.next/**
**/release.properties/**
**/dependency-reduced-pom.xml/**
**/buildNumber.properties/**
**/.mvn/timing.properties/**
/bin/
/target/
.classpath
.tern-project
backport-util-concurrent/
classworlds/
com/
commons-cli/
commons-io/
commons-logging/
junit/
log4j/
org/
xmlpull/
xpp3/